<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Maven+Pro" rel="stylesheet">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="js/jquery.min.js"></script>


<link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
<style>

</style>
</head>

  <body style="background-color:rgb(218, 221, 223);">
  <div class="loging-head">
      
        
  </div>

    <!-- third section-->
   <section class="login-section-third">
      <div class="container">
        <div class="row">
        <div class="log-box">
                          <div class="row">
                          <img src="{% static "img/Logo_zipmoov.png" %}" style="    margin-left:18px;">
                      <div class="col-xs-12">
                      <div class="row">                     
                       <h4 style="margin-top: -7px;margin-left:26px;"> <a href="" style="color:#fff;font-weight: 600;    font-size: 15px;">Zipmoov</a></h4>
                         </div>
                       </div>                                          
                  </div>
                     </div>
          <div class="col-md-12">
          <div class="row">
         
          </div>

           <div class="col-md-4">
           </div>

           <div class="col-md-4">
           <div class="signin-header-form-mtr">
                  <h3 style="color:#000">Sign In</h3>
                  </div>
           <div class="login-form-group">
           
            <form name="" id="loginform" method="post" action="/login">
            {% csrf_token %}
            <div class="row"> 
                <div class="login-input-box">
                  <input placeholder="Email address" id="usernmae" name="username" value="{{ username }}" type="text">
                </div>
            </div> <br>
            <div class="row"> 
              <div class="login-input-box">
                  <input id="password" name="password" value="{{ username }}" placeholder="Password" type="password">
                </div>
            </div> 
              <br>
              <button type="submit" id="submit" name="submit" class="login-form-btn-light-form-button">Next<span class="lth-lp-mr"> →<span></span></span></button>
              <br>
              <button class="login-form-btn-light-form-button">Ragistration<a href="/"></a></button>
              </div>
            </form>
              </div> 
            
            </div>
          </div>
          <div class="col-md-4">
           </div>
      </div>
    </section>

    <!--Driver stories-->

   
   

    
 
    <!-- footer-->
     <section id="footersection" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
              <div class="row">
                 <div class="col-md-4">
                   <h3 style="color:#fff">Zipmoov</h3>
                  </div>
                  <div class="col-md-4">
                 
                  </div>
                  <div class="col-md-4">
                
                </div>
             </div>
           </div>
          <div class="col-md-12">
             <div class="row">
            <hr style="border-top: 1px solid rgba(124, 126, 125, 0.52)">
          </div>
          </div>
         
              
            
           
             <div class="col-md-12">
                 <div class="row">
                    <div class="row linkshow">
                    <div class="col-md-4">
                    <ul>
                      <li><a href="#">&copy;2017 Zipmoov Technologies Inc.</a></li>
                     </ul> 
                    </div>
                    <div class="col-md-4">
                   
                    </div>
                    <div class="col-md-4">
                    <ul>
                    <li><a href="#">Privacy Policy  |  Terms and Conditions</a></li>
                     </ul>
                    </div>
              </div>
             </div>
        </div>
      
    </section>
    <!--footer-->
    
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBlFkSbmt6nkBmEIbwQwMzL0dLVrz_MkaM&callback=myMap"></script>
  </body>

</html>